/* CSS Resest */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Rules */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* login screen */

.login-screen-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.picture-container {
  border: 1px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-container img {
  max-width: 50%;
  height: auto;
}

.login-container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}

.login-container button {
  margin-top: 12px;
  width: 100%;
  max-width: 240px;
}

.login-form-center-container input {
  padding: 4px;
  width: 100%;
  max-width: 240px;
}

/* homepage */
.main-container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.sidebar {
  border: 1px red solid;
  display: grid;
  grid-template-rows: 10% 25% 65%;
}

.sidebar h2 {
  margin: 4px;
  font-size: small;
}

.sidebar li {
  margin-left: 12px;
  margin-top: 12px;
}

.main-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 26px;
}

.main-button-container button {
  width: 80%;
  padding: 4px;
}

.sidebar-prompt-container {
  margin: 2rem;
}

.sidebar-chat-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.outlet {
  border: 1px black solid;
  position: relative;
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
