/* CSS Resest */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Rules */
:root {
  --dark: #363432;
  --green: #196774;
  --lightgray: #90a19d;
  --orange: #f0941f;
  --redorange: #ef6024;
  --sans: "IBM Plex Sans", sans-serif;
  --sans-condensed: "IBM Plex Sans Condensed", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--sans);
  font-size: 1rem;
}

h1,
h2 {
  font-family: var(--sans-condensed);
  font-size: 2rem;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* login screen */

.login-screen-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.picture-container {
  background-color: var(--green);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-container img {
  max-width: 50%;
  height: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.login-form-center-container input {
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  width: 100%;
  max-width: 240px;
}

/* homepage */
.main-container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.sidebar {
  background-color: var(--green);
  color: white;
  display: grid;
  grid-template-rows: 20% 23% 1fr;
  font-size: 1rem;
  row-gap: 1rem;
  overflow: auto;
}

.sidebar h2 {
  font-size: 0.75rem;
  margin-left: 3rem;
  padding: 0.5rem;
  font-weight: bold;
}

.sidebar li {
  font-size: 1rem;
  padding: 0.5rem;
  margin-left: 4rem;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  white-space: pre;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
}

li:hover {
  background-color: var(--redorange);
  color: white;
  text-decoration: none;
}

.sidebar-chat-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.outlet {
  border: 1px black solid;
}

/* Search Component */
.search-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 25% 85%;
  justify-items: center;
}

.search-input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  width: 100%;
}

.search-input-container img {
  max-width: 100%;
  margin-bottom: 0.5rem;
  height: auto;
  align-self: center;
}

.search-input-container input {
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  font-family: var(--sans);
  font-size: 1rem;
  color: var(--dark);
}

.search-input-container button {
  background-color: transparent;
  color: var(--lightgray);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  font-family: var(--sans-condensed);
  font-size: 1rem;
}

.search-input-container button:hover {
  color: var(--redorange);
}

.search-input-container button:focus {
  color: var(--redorange);
  border-bottom: 1px solid var(--orange);
}
/* create */
.create-container-0 {
  display: grid;
  justify-content: center;
  height: 100vh;
}

.create-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
}

.create-container h1 {
  font-family: var(--sans-condensed);
  color: var(--dark);
  margin-bottom: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.title-input {
  flex-grow: 1;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  font-family: var(--sans);
  font-size: 1rem;
  color: var(--dark);
}

.btn {
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--sans-condensed);
  font-size: 1rem;
}

.btn:hover {
  background-color: var(--orange);
}

.text-area {
  width: 100%;
  height: 150px;
  resize: vertical;
  padding: 10px;
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  font-family: var(--sans);
  font-size: 1rem;
  color: var(--dark);
}

.save-btn {
  background-color: var(--orange);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--sans-condensed);
  font-size: 1rem;
}

.save-btn:hover {
  background-color: var(--redorange);
}

/* Chat Window */
.chat-window-container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  overflow: hidden;
}

.chat-display {
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9;
}

.chat-message {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  background-color: #e1e1e1;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 5px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.chat-input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.send-btn {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
}

/*  */

/* Buttons*/
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--sans-condensed);
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 240px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.input-5 {
  background-color: #fff;
  border: 1px solid var(--lightgray);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #333;
  font-family: var(--sans-condensed);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  padding: 600px;
  transition: all 250ms;
  width: 100%;
  max-width: 100%;
  outline: none;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 75px;
  background-color: var(--green);
}

.logout-button:hover {
  background-color: var(--lightgray);
}

.main-button-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  gap: 12px;
  margin-top: 3rem;
}

.search-button,
.create-button {
  background-color: white;
  color: var(--dark);
}

.search-button:hover,
.create-button:hover {
  background-color: var(--redorange);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.search-button:focus,
.create-button:focus {
  background-color: var(--redorange);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}
